header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    scroll-margin-top: 20rem;
}

header .header_left{
    max-width: 62rem;
    flex: 1;
}

header .header_left p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex: 1;
    max-width: 50rem;
    text-align: justify;
}

.lucas {
    position: relative;
    left: 5rem;
}

@media only screen and (max-width:768px ) {
    header{
        flex-direction: column-reverse;
        text-align: center;
    }

    header .header_left p{
        margin:2rem auto 4rem;
    }
}

