#projects{
    scroll-margin-top: 15rem;
}

#projects .project_content{
    max-width: 56rem;
    text-align: center;
    margin: 0 auto 6rem;
}

#projects ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

#projects ul li.reversed-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    flex-direction: row-reverse;
}

#projects ul li:not(:last-of-type) {
    margin-bottom: 11rem;
}

#projects ul li .image img {
    min-width: 40rem;
    max-width: 47rem;
    width: 100%;
    height: auto;
}

#projects ul li .projects_info {
    max-width: 47rem;
}

#projects ul li .projects_info p{
    margin: 1rem 0 4rem;
}

#projects ul li .projects_info a{
    text-decoration: underline;
}

@media only screen and (max-width:768px ) {
    #projects ul li,
    #projects ul li.reversed-list {
        flex-direction: column;
    }

    #projects ul li .projects_info {
        max-width: 64rem;
    }

    #projects ul li .image img {
        min-width: auto;
    }
}


